<section id="about" class="about sec-pad">
  <div class="main-container">
    <h2 class="heading heading-sec heading-sec__mb-med">
      <span class="heading-sec__main">About Me</span>
      <span class="heading-sec__sub">
        Here you will find more information about me, what I do, and my current
        skills mostly in terms of programming and technology
      </span>
    </h2>
    <div class="about__content">
      <div class="about__content-main">
        <h3 class="about__content-title">Hello!</h3>
        <div class="about__content-details">
          <p class="about__content-details-para">
            My name is <strong>Mukkeri Shruthi</strong> and I'm a passionate
            <strong>Frontend Web Developer</strong> using web tecnologies to
            build amazing products and focusing on solving problems for
            different niches and different industries using the power of
            technology.
          </p>
          <p class="about__content-details-para">
            I'm open to <strong>Job</strong> opportunities where I can
            contribute, learn and grow. If you have a good opportunity that
            matches my skill.Feel free to <strong>contact</strong> me.
          </p>
        </div>
        <a href="./#footer" class="btn btn--med btn--theme dynamicBgClr"
          >Contact</a
        >
      </div>
      <div class="about__content-skills">
        <h3 class="about__content-title">My Skills</h3>
        <div class="skills">
          <div class="skills__skill">HTML</div>
          <div class="skills__skill">CSS</div>
          <div class="skills__skill">JavaScript</div>
          <div class="skills__skill">GIT</div>
          <div class="skills__skill">Github</div>
          <div class="skills__skill">Bootstrap</div>
          <div class="skills__skill">.Net</div>
          <div class="skills__skill">SQL Basics</div>
        </div>
      </div>
    </div>
  </div>
</section>
